@model ClubManagement.Models.Match

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mecz przeciwko @ViewBag.Name z dnia @ViewBag.Day</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Players,"Zawodnicy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.ListBoxFor(x => x.Players, new MultiSelectList(Model.Players, "Id", "Surname"), new { @class = "form-control", @name = "list" })
                @Html.ValidationMessageFor(model => model.Players, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}


