<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CZARNI CZARNA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*<body background="~/Content/Images/bg.jpg" background-size="100%" >*@
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona główna", "MainPage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <li class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    <li>@Html.ActionLink("Lista", "List", "Player")</li>
                    <li>@Html.ActionLink("Kalendarz", "List", "Event")</li>
                    <li>@Html.ActionLink("Kary", "List", "Penalty")</li>
                    <li>@Html.ActionLink("Wiadomości", "List", "News")</li>
                    <li>@Html.ActionLink("Przeciwnicy", "Index", "Opponent")</li>
                    @if (Session["nick"] == null)
                    {
                        <li>@Html.ActionLink("Zaloguj", "Login", "Account")</li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("Zalogowany: " + @Session["nick"].ToString(), "RoleToUser", "Role") </li>
                        <li>@Html.ActionLink("Wyloguj", "Logout", "Account")</li>


                    }
                </ul>
                </li>

        </div>
    </div>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container text-center">
                <p class="text-muted mb-0 py-2">CZARNI CZARNA</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
