
@model IEnumerable<ClubManagement.Models.Event>


<div class="multibutton" style="margin-left:auto; margin-right:auto">
    <button class="mybutton" onclick="@("window.location.href='" + @Url.Action("CreateSoloTraining", "Event") + "'");"> Dodaj trening</button>
    <button  class="mybutton" onclick="@("window.location.href='" + @Url.Action("CreateMatch", "Event") + "'");"> Dodaj mecz</button>
    <button  class="mybutton" onclick="@("window.location.href='" + @Url.Action("List", "Training") + "'");"> Odbyte treningi</button>
    <button  class="mybutton" onclick="@("window.location.href='" + @Url.Action("List", "Match") + "'");"> Odbyte mecze</button>
</div>


<table class="content-table">
    <tr style="background-color:#3cbabe">
        <th>
            Rodzaj
        </th>
        <th>
            Dzień
        </th>
        <th>
            Czas
        </th>
        <th>
            Przeciwnik
        </th>
        <th>
            Miejsce
        </th>
        <th>
            Informacje
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="background-color:@item.Color">
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.ActionLink("Aktualizuj", "Edit", new { id = item.Id }) |
               
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<style>
    last-of-type {
        border-bottom: 2px solid #009879;
    }
    .content-table thead tr {
        background-color: black;
    }
    .multibutton {
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;
       
        top: 50%;
        left: 50%;
        margin: auto;
        text-align: center;
    }

    .mybutton {
        text-decoration: none;
        text-align: center;
        color: #3cbabe;
        border: 2px solid #3cbabe;
        border-radius: 4px;
        position: relative;
        width: 150px;
        line-height: 40px;
        display: inline-block;
        font-family: Arial;
        font-weight: 600;
        overflow: hidden;
     
        
    }

        .mybutton:before {
            content: "";
            background-color: rgba(255,255,255,0.5);
            height: 100%;
            width: 40px;
            display: block;
            position: absolute;
            top: 0;
            left: -70px;
            transform: skewX(-45deg) translateX(0px);
            transition: none;
        }

        .mybutton:hover {
            background-color: #3cbabe;
            color: #ffffff;
            border-bottom: 2px solid #319598;
        }

            .mybutton:hover:before {
                transform: skewX(-45deg) translateX(250px);
                transition: all 0.4s ease-in;
            }

   
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: #ffffff;
    }
    * {
        font-family: sans-serif; 
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 600px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .content-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .content-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .content-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

            .content-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }

</style>